<!-- <p>College: Marwadi</p>
<p>Student: ICT</p>
<p>Course: MEAN</p>
<p>Covid: NO NO</p> -->

<!-- Angular two way data binding
<input type="text" [(ngModel)]="name"> -->

<!-- String interpolation -->
<!-- <p>You have entered: {{name}}</p>

<p>Good Morning: {{name}}</p>

<button (click) = "onSubmit()">Submit</button>  -->

<!-- <input type="text" [(ngModel)]="userInput" />
<button (click)="onClick()">Add</button>
<br />

<input type="text" [(ngModel)]="rUserInput" />
<button (click)="remove()">Remove</button> -->

<ul>
  <li *ngFor="let name of names">{{ name }}</li>
  <!-- <li *ngFor="let name of getStudentNames()">{{ name }}</li> -->
</ul>
