.main-container {
  width: 70%;
  margin: auto;
  padding-top: 20px;
}

.green {
  color: green
}

.red {
  color: red
}

a {
  text-decoration: none;
  color: white;
}

.header-items {
  width: 70%;
}

ul {
  list-style: none;
  display: flex;
}

li {
  /* Top & Bottom 0px, Left & Right 10px */
  padding: 0px 10px;
}


