.main-container {
  width: 70%;
  margin: auto;
  padding-top: 20px;
}

.green {
  color: green
}

.red {
  color: red
}

div > a {
  text-decoration: none;
  color: white;
}

.header-items {
  width: 50%;
}
