<mat-toolbar color="primary" style="margin-bottom: 20px;">
  <div class="header-items">
    <a routerLink="students">Students</a>
  </div>
  <ul>
    <li *ngIf="checkAuth();">
      <a mat-button routerLink="create">New Student</a>
    </li>
    <li *ngIf="!checkAuth();">
      <a mat-button routerLink="login">Login</a>
    </li>
    <li *ngIf="!checkAuth();">
      <a mat-button routerLink="signup">Sign Up</a>
    </li>
    <li *ngIf="checkAuth();">
      <a mat-button>Logout</a>
    </li>
  </ul>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>

<!-- <h3>With RouterLink</h3>
<a routerLink="student">Student</a>
<br>
<a routerLink="faculty">Faculty</a>
<br>
<br>
<br> -->
<!--
<h3>With Href</h3>
<a href="student">Student</a>
<br>
<a href="faculty">Faculty</a>
<br> -->

<!-- <custom-input input-label="Enter name"></custom-input> -->

<!-- <router-outlet></router-outlet> -->

<!-- <app-ang-basics></app-ang-basics> -->
<!--
<p>Let's try to reuse this again</p>
-->

<!-- <app-ang-basics></app-ang-basics> -->
<!-- User custom input component (Using Angular material UI), Pass property in the component -->

<!-- <custom-input input-label="Enter your name"></custom-input>
  <br>
  <custom-input input-label="Enter your email"></custom-input> -->

<!-- <div class="main-container">
  <button (click)="show = !show">{{ show ? "hide" : "show" }}</button>
  <p [ngClass]="{ 'green': show, 'red': !show }">show = {{ show }}</p>

  <br />
  <div *ngIf="show; else elseBlock">Text to show</div>

  <ng-template #elseBlock>
    Alternate text while primary text is hidden
  </ng-template>
</div> -->

