<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
<mat-accordion *ngIf="students.length > 0 && !isLoading">
  <mat-expansion-panel style="margin-bottom: 20px;" *ngFor="let item of students" (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Marwadi's Brilliant Student: {{item.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Name: {{item.name}}</p>
    <p>Branch: {{item.branch}}</p>
    <!-- <ul>
      <li *ngFor="let item of students">{{item.name}} {{item.branch}}</li>
    </ul> -->
    <mat-action-row *ngIf="checkAuth() && isCreator(item.creator)">
      <button mat-button color="primary" [routerLink]="['/edit',item._id]">Edit</button>
      <button mat-button color="warn" (click)="onDelete(item._id, item.name)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-paginator
    [length]="pageLength"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageOptions"
    [pageIndex]="pageIndex"
    (page)="onPageChange($event)">
  </mat-paginator>
</mat-accordion>
<div class="no-data" *ngIf="students.length == 0 && !isLoading">No Students data found!</div>
